<h2> Edit a Comment </h2>
<form method='POST' action='/posts/{{post._id}}/comments/{{comment._id}}?_method=put'>
  <input type='text' name='text' value={{comment.commentText}} />
  <input type='submit' value='Edit' />
</form>
<a href='/posts/{{post._id}}/comments/{{comment._id}}'>Go Back</a>

