<h2>Reddit</h2>
<a href='/login'>Login to your account</a>
<a href='/signup'>Don't have an account? Sign up</a>
<a href='/posts/new'>Create a Post</a>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Comment</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
    <tr>
      <td><a href='posts/{{id}}'>{{title}}</a></td>

      <td>{{text}}</td>
      <td><a href='/posts/{{id}}/comments/new'>✏</a></td>
      <td><a href='/posts/{{id}}/edit'>Edit</a></td>
      <td><form action='/posts/{{id}}?_method=delete' method='POST'><button>x</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href='/logout'>Logout</a>
