<h2> Post and Comments </h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each post}}
    <tr>
      <td>{{title}}</td>
      <td>{{text}}</td>
    </tr>
    {{/each}}
    {{#each post.comments}}
    <tr>
      <td>{{commentText}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href='/posts/{{post.id}}/comments/new'>Add a comment </a>
<a href='/posts/{{post.id}}/comments'>View comments</a>
